<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard </title>


</head>
<body>
    <h1>welcome   </h1>

    <h2> welcome {{name}} </h2>

    {% if perms.enroll.delete_blog %}
        <input type="submit" value="delete">     <br> <br>
    {% else %}
        <h3>  No delete permission </h3> 
    {% endif %}


    

    {% if perms.enroll.add_blog %}
        <input type="submit" value="add">     <br> <br>
    {% else %}
        <h3>  No add permission </h3> 
    {% endif %}








    <a href="{% url 'user_logout' %}"> logout </a>


    
    
</body>
</html>


